<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class='navbar-space'>  
      <a mat-button [routerLink]="'/'">
         <h1>ASAP Systems </h1>
      </a>
    </div>
    <span class="menu-spacer"></span>
    <div class='navbar-buttons'>
      <a mat-button [routerLink]="'/person'"> Persons </a>
      <a mat-button [routerLink]="'/location'"> Locations </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>