<div class="container">  
    <form [formGroup]="LocationForm" (ngSubmit)="this[EventValue]()">  
        <h3>Location CRUD Operation</h3>  
        <div class="row">  
            <table class="table">  
            <tr>  
            <td>Name</td>  
            <td>  
                <input type="hidden" formControlName="Id">  
                <input type="text" formControlName="Name">  
                <div *ngIf="submitted && LocationForm.controls.Name.errors" class="text-danger">  
                <div *ngIf="LocationForm.controls.Name.errors.required">Name is required</div>  
                </div>   
            </td>  
            </tr>  
            <tr>  
            <td>Description</td>  
            <td>  
                <input type="text" formControlName="Description">  
                <div *ngIf="submitted && LocationForm.controls.Description.errors" class="text-danger">  
                <div *ngIf="LocationForm.controls.Description.errors.required">Description is required</div>  
                </div>  
            </td>  
            </tr> 
            <tr>  
            <td colspan="2">  
                <button type="submit" class="btn btn-primary">{{EventValue}}</button>  
            </td>  
            </tr>  
            
        </table>  
      </div>  
         
     <div class="row">  
      <table class="table table-striped">  
        <tr>  
          <td>Id</td>  
          <td>Name</td>  
          <td>Description</td>  
          <td>Edit</td>  
          <td>Delete</td>  
        </tr>  
      
        <tr *ngFor="let d of data">  
          <td>{{d.id}}</td>  
          <td>{{d.name}}</td>  
          <td>{{d.description}}</td>  
          <td><a (click)="EditData(d)" class="btn btn-warning">Edit</a></td>  
          <td><a (click)="deleteData(d.id)" class="btn btn-danger">Delete</a></td>    
        </tr>  
      </table>  
    </div>  
    </form>  
    </div>  