<div class="container">  
    
    <form [formGroup]="PersonForm" (ngSubmit)="this[EventValue]()">  
        
        <h3>Person CRUD Operation</h3>  
        <div class="row">  
             
        <table class="table">  
        <tr>  
          <td>Name</td>  
          <td>  
            <input type="hidden" formControlName="Id">  
            <input type="text" formControlName="Name">  
            <div *ngIf="submitted && PersonForm.controls.Name.errors" class="text-danger">  
              <div *ngIf="PersonForm.controls.Name.errors.required">Name is required</div>  
            </div>   
          </td>  
        </tr>  
        <tr>  
          <td>Phone Number</td>  
          <td><input type="text" formControlName="PhoneNumber">  
            <div *ngIf="submitted && PersonForm.controls.PhoneNumber.errors" class="text-danger">  
              <div *ngIf="PersonForm.controls.PhoneNumber.errors.required">PhoneNumber is required</div>  
            </div>   
          </td>  
        </tr>  
        <tr>  
          <td>Email</td>  
          <td>  
            <input type="text" formControlName="Email">  
            <div *ngIf="submitted && PersonForm.controls.Email.errors" class="text-danger">  
              <div *ngIf="PersonForm.controls.Email.errors.email">Email not well formatted</div> 
              <div *ngIf="PersonForm.controls.Email.errors.required">Email is required</div> 
            </div>  
          </td>  
        </tr>  
        <tr>  
          <td>Detailed Address</td>  
          <td>  
            <input type="text" formControlName="DetailedAddress">  
            <div *ngIf="submitted && PersonForm.controls.DetailedAddress.errors" class="text-danger">  
              <div *ngIf="PersonForm.controls.DetailedAddress.errors.required">Address is required</div>  
            </div>  
          </td>  
        </tr> 
        <tr>  
          <td>Location</td>  
          <td>  
            <mat-select formControlName="LocationId">
              <mat-option *ngFor="let location of locationData" [value]="location.value">
                {{location.text}}
              </mat-option>
            </mat-select>
          </td>  
        </tr>  
        <tr>  
          <td colspan="2">  
            <button type="submit" class="btn btn-primary">{{EventValue}}</button>  
          </td>  
        </tr>  
          
      </table>  
      </div>  
         
     <div class="row">  
      <table class="table table-striped">  
        <tr>  
          <td>Id</td>  
          <td>Name</td>  
            
          <td>PhoneNumber</td>  
          <td>Email</td>  
          <td>Address</td>  
          <td>Edit</td>  
          <td>Delete</td>  
        </tr>  
      
        <tr *ngFor="let d of data">  
          <td>{{d.id}}</td>  
          <td>{{d.name}}</td>  
           
          <td>{{d.phoneNumber}}</td>  
          <td>{{d.email}}</td>  
          <td>{{d.detailedAddress}}</td>  
          <td><a (click)="EditData(d)" class="btn btn-warning">Edit</a></td>  
          <td><a (click)="deleteData(d.id)" class="btn btn-danger">Delete</a></td>    
        </tr>  
      </table>  
    </div>  
    </form>  
      
    </div>  